html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: #1D1F38;
    color: #5450D1;
}

button:hover{
  background-color: #474C87;
}

input {
  background-color: #272A4C;
  border: none;
  border-radius: 10px;
  margin: 3px;
  width: 35px;
  height: 35px;
}

button svg, img {
  width: 20px;
  height: 20px;
  fill: #5F72FF;
  
  
}

.Add {
  background-color: #272A4CBF;
  display: none;
  position: absolute;
  padding: 5px;
  border-radius: 10px;
  align-content: center;
  justify-content: center;
  backdrop-filter: blur(3px);
  z-index: 2;
  
}

.menu-item{
  padding: 3px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.menu img{
  display: flex;
}

.menu-item:hover {
  background-color: #41467D;
}

.show {
  display: block;
}

.option{
  position: absolute;
  display: flex;
  bottom: 8px;
  right: 6px;
  border: solid 1px #21244B;
  border-radius: 10px;
  padding: 3px;
  flex-direction: column-reverse;
  background-color: #232542B0;
  backdrop-filter: blur(3px);
}

.upBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: solid, 1px;
  border-radius: 10px;
}

-img {
   filter: brightness(0) saturate(100%) invert(0.3) sepia(1) hue-rotate(540deg) brightness(1.5) saturate(300%);
   filter: invert(0)
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4px;
}

#objecEditor {
  background-color: #f0f0f0;
  padding: 10px;
  border: 3px solid #ccc;
  flex-wrap: wrap;
}

/* Estilos para el toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 30px; /* Ancho ajustado */
  height: 15px; /* Altura ajustada */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 15px; /* Ajustado para mantener las proporciones */
}

.slider:before {
  position: absolute;
  content: "";
  height: 11px; /* Ajustado para adaptarse a la altura del toggle */
  width: 11px; /* Ajustado para adaptarse a la altura del toggle */
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(15px); /* Ajustado según el tamaño reducido del switch */
}

.positionAxis, .rotationAxis, .scaleAxis{
  position: absolute;
display: none;
bottom: 8px;
left: 6px;
border: solid 1px #21244B;
border-radius: 10px;
padding: 5px;
flex-direction: column;
background-color: #232542B0;
backdrop-filter: blur(3px);
align-items: center;
height: 150px;
justify-content: space-around;
}