body {
  background-color: #1D1F38;
  
}

.Inicio {
  border: solid;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.newProject {
  grid-column: 1 / span 2;
}

button {
  background-color: #525AA5;
  border: none;
  border-radius: 8px;
  font-size: 30px;
  color: #BFC5FF;
  padding: 10px;
  margin: 4px
}