button{
  background-color: #272A4C;
  border: none;border: none;
  border-radius: 10px;
  color: white;
  display: inline-block;
  padding: 8px;
  margin: 2px;
}

#close-button {
    position: absolute;
    top: 1px;
    right: 10px;
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    color: #FF5151; /* Color del texto */
    font-size: 18px; /* Tamaño del texto */
    cursor: pointer; /* Cursor de mano al pasar */
    z-index: 11; /* Asegúrate de que esté por encima del resto */
    margin-bottom: 10px; /* Espacio entre el botón y los items */
}

#model-selector {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    background-color: #272A4CBF;
    backdrop-filter: blur(3px);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    padding: 10px;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 10px;
    padding-top: 40px; /* Espacio para el botón de cerrar */
}

.model-item {
    padding: 5px;
    background-color: #272A4C;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.model-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}

.model-name {
    margin-top: 5px;
    font-size: 14px;
}

.model-item:hover {
    background-color: #4E5498;
}
